# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VSCode and IDE settings
.vscode/
.idea/

# Environment variables / secrets
.env
*.env

# Logs
*.log

# Build and distribution
build/
dist/
*.egg-info/

#OS Files
.DS_Store