fastapi==0.120.1
fitz==0.0.1.dev2
langchain==1.0.2
langchain_neo4j==0.6.0
langchain_ollama==1.0.0
langfuse==3.8.1
neo4j==5.28.2
pydantic==2.12.3
pymongo==4.15.3
python-dotenv==1.2.1
pytz==2025.2
Requests==2.32.5
